.mini-skills-list {
	display: none;
}

.armor-tracker {
	padding: 5px;
	border: 1px groove black;
	width: -webkit-fill-available;
}

.armor-tracker li {
	font-size: 1.5em;
}

.character .tab.main .combat-stats .combat-box {
	height: auto;
}

.armor-tracker-section {
	padding-top: 20px;
	padding-bottom: 20px;
}

.armor-damage-header-btn {
	background-color: #775b12 ;
	color: white;
	cursor: pointer;
	padding: 5px;
	width: 100%;
	border: 1px groove black;
	outline: none;
	font-size: 15px;
	box-shadow: none;
	text-align:center;
	height: 50px;
  }

  .armor-damage-header-btn.unequipped{
	background-color: #a4a4a4;
  }

  .armor-damage-header-btn.unequipped:hover {
	background-color: #a4a4a4;
	box-shadow: none;
  }

  .armor-damage-header-btn img{
	max-height: 100%;
	max-width: fit-content;
  }


  .armor-damage-header-btn .armor-name{
	flex: 3
  }

  .active-hm, .armor-damage-header-btn:hover {
	background-color: #775b12;
	box-shadow: none;
  }

 .armor-damage-header-btn:focus {
	box-shadow: none;
  }

  .armor-tracker {
	padding: 0 18px;
	overflow: hidden;
	background-color: #f1f1f1;
	box-shadow: none;
  }

/*.item-list.inventory .item{
	height: 50px;
	line-height: 49px;
}

.item-list.inventory .item .item-image{
	flex: 0 0 49px;
	height: 49px;
}*/
