.mini-skills-list {
	display: none;
}

.top-check-card {
	background: rgb(240, 239, 209);
}

.top-check-card .header{
	font-weight:bold;
}

.top-check-card .grid-container {
	display: grid;
	grid-template-columns: auto auto;
	border: 1px groove;
	border-radius: 5px;
	padding: 1px;
	gap: 1px;
	width: 100%;
}  

.top-check-card .grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 1px;
	text-align: center;
	white-space: nowrap ;
	overflow: hidden ;
	text-overflow: ellipsis ;     
	padding-left: 5px;
} 

.armor-damage-card {
	background: rgb(240, 239, 209);
}

.armor-damage-card .header{
	font-weight:bold;
}

.armor-damage-card .grid-container {
	display: grid;
	grid-template-columns: auto auto;
	border: 1px groove;
	border-radius: 5px;
	padding: 1px;
	gap: 1px;
	width: 100%;
}  

.armor-damage-card .grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 1px;
	text-align: center;
	white-space: nowrap ;
	overflow: hidden ;
	text-overflow: ellipsis ;     
	padding-left: 5px;
}   

.armor-damage-card .armor-name {
	font-weight: bold;
	font-size: 1.3em;
	color:black;
	text-align: center;
}

.crit-card {
	background: rgb(240, 239, 209);
}

.crit-card .grid-container {
	display: grid;
	grid-template-columns: auto auto;
	border: 1px groove;
	border-radius: 5px;
	background-color: red;
	padding: 1px;
	gap: 1px;
	width: 100%;
}     

.crit-card .grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 1px;
	text-align: center;
	white-space: nowrap ;
	overflow: hidden ;
	text-overflow: ellipsis ;     
	padding-left: 5px;
}                

.crit-card .header{
	font-weight:bold;
}

.two-column{
	grid-column: span 2;
}

.crit-card .crit-severity {
	font-weight: bold;
	font-size: 1.3em;
	color:red;
	text-align: center;
}

.crit-card .effects-list{
	list-style-type: square;
}

.crit-card .effects-list li{
	margin-top:5px;
	margin-bottom: 5px;
}

.armor-tracker {
	padding: 5px;
	border: 1px groove black;
	width: -webkit-fill-available;
}

.armor-tracker li {
	font-size: 1.5em;
}

.character .tab.main .combat-stats .combat-box {
	height: auto;
}

.armor-tracker-section {
	padding-top: 20px;
	padding-bottom: 20px;
}

.armor-damage-header-btn {
	background-color: #775b12 ;
	color: white;
	cursor: pointer;
	padding: 5px;
	width: 100%;
	border: 1px groove black;
	outline: none;
	font-size: 15px;
	box-shadow: none;
	text-align:center;
	height: 50px;
  }

  .armor-damage-header-btn.unequipped{
	background-color: #a4a4a4;
  }

  .armor-damage-header-btn.unequipped:hover {
	background-color: #a4a4a4;
	box-shadow: none;
  }

  .armor-damage-header-btn img{
	max-height: 100%;
	max-width: fit-content;
  }


  .armor-damage-header-btn .armor-name{
	flex: 3
  }

  .active-hm, .armor-damage-header-btn:hover {
	background-color: #775b12;
	box-shadow: none;
  }

 .armor-damage-header-btn:focus {
	box-shadow: none;
  }

.armor-tracker {
	padding: 0 18px;
	overflow: hidden;
	background-color: #f1f1f1;
	box-shadow: none;
}

#always-hp-armor-selector{
    text-align: center;
    background: url(../../../ui/parchment.jpg) repeat;
    font-size: 12px;
    font-weight: bold;
	width: 200px;
}

.editor-content{
	font-family: 'Vollkorn,Eczar,Georgia,serif';
	font-size: 16px;
	font-weight:400;
}

/*.item-list.inventory .item{
	height: 50px;
	line-height: 49px;
}

.item-list.inventory .item .item-image{
	flex: 0 0 49px;
	height: 49px;
}*/
