<div class="alwayshp-content">
    <div id="alwayshp-hurt-shield-btn" class="alwayshp-btn bad-ones" title="Damage shield"><i class="fas fa-user-shield"></i></div>
    <div id="alwayshp-hurt-armor-btn" class="alwayshp-btn bad-ones" title="Damage armor"><i class="fas fa-minus"></i></div>
    
    {{!--<select id="always-hp-armor-selector" class="selector" name="always-hp-selected-armor">
        {{#select always-hp-selected-armor}}
            {{#each equippedArmors}}
                <option value="{{id}}">{{name}}</option>
            {{/each}}
        {{/select}}
    </select>--}}
    <div id="alwayshp-repair-armor-btn" class="alwayshp-btn good-ones" title="Repair armor"><i class="fas fa-plus"></i></div>
    <div id="alwayshp-repair-shield-btn" class="alwayshp-btn good-ones" title="Repair shield"><i class="fas fa-user-shield"></i></div>
</div>