<div class="armor-damage-card">
    <fieldset class="border-top">
        <legend>Armor Damage</legend>
            <div class="grid-container">
                <div class="grid-item two-column armor-name">{{armorName}}</div>
                <div class="grid-item header">Damage Soaked</div>
                <div class="grid-item">{{amountSoaked}}</div>
                <div class="grid-item header">Armor Damage Taken</div>
                <div class="grid-item">{{amountDamaged}}</div>
                <div class="grid-item header">Armor HP Remaining</div>
                <div class="grid-item">{{hpRemaining}}</div>
            </div>
    </fieldset>
</div>