<tr>
    <td>
        <div class="ability-label">
            <label for="system.comeliness.value" class="ability-score rollable ability-check" data-label="Comeliness">Com</label>
        </div>

        <div class="ability-score">
            <input type="text" name="system.comeliness.value" value="{{comeliness}}" data-dtype="Number"/>
        </div>
    </td>
    
    <td>
        <table class="fields">
            <tbody>
                <tr>
                    <th class="percent">
                        <label for="system.comeliness.percent" data-label="Percent">%</label>
                    </th>
                    <th>
                        <label>Description</label>
                    </th>
                </tr>
                <tr>
                    <td class="percent">
                        <input class="percent" type="text" name="system.comeliness.percent" value="{{comelinessPercent}}" data-dtype="Number">
                    </td>
                    <td>
                        <label title="{{longDescription}}" data-label="Description">{{shortDescription}}</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>