<div class="crit-card">
    <fieldset class="border-top">
        <legend>{{#if isUnarmed}}Unarmed {{/if}}Fumble</legend>
            <div class="grid-container">
                <div class="grid-item header">d1000 Result</div>
                <div class="grid-item">{{roll}}</div>
            </div>
            <br/>
            <div>{{description}}</div>
    </fieldset>
</div>