<div class="armor-damage-header">
    <li class="armor-damage-header flexrow">
        <div class="hp-progression">HP Progression</div>
        <div class="hp-lost">HP Lost</div>
        <div class="armor-soak">Soak/Die</div>
    </li>
</div>
<div class="armors-list">
    <li class="armors-list-data flexrow">
        <div class="type-hp-progression">
            <input name="system.protection.armorDamage.progression" type="text" value="{{progression}}">
        </div>
        <div class="type-hp-lost">
            <input name="system.protection.armorDamage.damageTaken" type="text" value="{{damageTaken}}" data-dtype="Number">
        </div>
        <div class="type-armor-soak">
            <input name="system.protection.armorDamage.soak" type="text" value="{{soak}}" data-dtype="Number">
        </div>
    </li>
</div>