<div class="crit-card">
    <fieldset class="border-top">
        <legend>Spell Mishap</legend>
            <div class="grid-container">
                <div class="grid-item header">d10000 Result</div>
                <div class="grid-item">{{roll}}</div>
            </div>
            <br/>
            <div>{{description}}</div>
    </fieldset>
</div>