<tr>
    <td>
        <div class="ability-label">
            <label for="system.honorstate" class="ability-score" data-label="Honor">Hon</label>
        </div>

        <div class="ability-score">
            <input type="text" name="system.honorState" value="{{honorState}}" data-dtype="Number"/>
        </div>
    </td>

    <td>
        <label>-1 = Dishonor, 0 = Normal Honor, 1 = Great Honor</label>       
    </td>
</tr>