<div class="top-check-card">
    <fieldset class="border-top">
        <legend>Threshold of Pain Check</legend>
        <div class="grid-container">
            <div class="grid-item header">Threshold of Pain</div>
            <div class="grid-item">{{thresholdOfPain}}</div>
            <div class="grid-item header">Damage Taken This Round</div>
            <div class="grid-item">{{recentDamageTaken}}</div>
        </div>
        <div class="actionChat-list">     
            <div class="card-buttons" data-source-actor-id="{{actorId}}">
                <button type="button" class="top-check-button" data-action="top-check">
                    <div class="flexrow">
                        <div class="action-icon"><img src="icons/skills/wounds/blood-drip-droplet-red.webp" title="Threshold Of Pain"></div>
                        <div class="center-text text-trunc">Roll Threshold of Pain</div>
                    </div>
                </button>
            </div>
        </div>
    </fieldset>
</div>