<div class="item-header-weapon flexrow">
    <label>Tiny</label>
    <label>Small</label>
    <label>Huge</label>
    <label>Gargantuan</label>
</div>
<div class="item-input flexrow">
    <input name="system.damage.tiny" type="text" value="{{tiny}}">
    <input name="system.damage.small" type="text" value="{{small}}">
    <input name="system.damage.huge" type="text" value="{{huge}}">
    <input name="system.damage.gargantuan" type="text" value="{{gargantuan}}">
</div>